* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

::-webkit-scrollbar{
    width: 5px;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb{
    background-color: #08359B;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffff;
    background-size: cover;
    /* fundo responsivo*/
    background-position: center;
    

}


.header {
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    width: 100%;
    padding: 1px;
    background: white;
    /* ao retirar o background do header, ele fica transparente com o fundo do site */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    border-bottom: 3px inset transparent;
    border-image: linear-gradient(to right, #0f47ca, #1b80f5);
    border-image-slice: 1;
}

.logo .logoimg {
    font-size: 2em;
    color: #fff;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}


.navigation a {
    font-family: 'Poppins', sans-serif;
    position: relative;
    font-size: 1.1em;
    color: #0f47ca;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigationMENU {
    display: none;
    position: absolute;
    right: 2.5rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.navigationMENU.open {
    height: 200px; 
}

.navigationMENU a {
    display: block; 
    font-family: 'Poppins', sans-serif;
    font-size: 22px; 
    margin-bottom: 20px;
    text-align: center;
    color: #0f47ca;
    text-decoration: none;
    font-weight: 500;
    margin-left: 0;
    transition: color 0.3s ease, transform 0.2s ease; 
}



.navigation a::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #0f47ca;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: center;
    /* orientação da animação do nav bar */
    transform: scaleX(1);
}

.menuicon i {
    color: #0f47ca;
    font-size: 2.0em;
    cursor: pointer;
    display: none;
}

/* animação ao clicar no nav bar */

.navigation .btlogin {
    font-family: 'Poppins', sans-serif;
    width: 170px; 
    height: 50px;
    background-color: #08359B;
    border: 2px solid #08359B;
    outline: none;
    border-radius: 30px; 
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    margin-left: 40px;
    text-transform: uppercase; 
    letter-spacing: 0.5px; 
    transition: all 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.navigation .btlogin:hover {
    background: #e4e8f8;
    color: #08359B;
    transform: translateY(-4px); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.navigationMENU .btlogin2 {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);  
    padding: 0.8em 1.5em;     
    background-color: #08359B;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 15px;     
    font-size: 1em;           
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;      
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}
/* animação ao clicar no login */


.container {
    width: 100%;
    height: 100vh;
}

.box {
    font-family: 'Noto Sans JP', sans-serif;
    width: 500px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}


section h2 {
    font-size: 42px;
    text-align: left;
    font-family: 'Noto Sans JP', sans-serif;
}

.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2 {
    font-weight: 600;
    color: #08359B;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #08359B;
    border-radius: 10px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{ /* borda colorida do input ao pressionar */
    border: 2px solid #0e43bd;
}

.contact-inputs::placeholder{
    color: #a9a9a9;
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#052e8f,#0e43bd);
    cursor: pointer;
    
}

.contact-left img{
    height: 15px;
}



footer {
    background-color: #EEF1F6;
    color: #000000;
    padding: 0px;
    text-align: right;
    position: absolute;
    bottom: 0px;
    width: 100%;
    top: 125%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.socialicons {
    display: flex;
    justify-content: center;
}

.contact {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 10px;
    color: #b9afaf;
    font-size: 8px;
}

.contact h1 {
    margin: 0 10px;
}

.separator {
    height: 20px;
}

.register {
    color: #b9afaf;
    text-align: center;
    font-size: 8px;
}

.socialicons a {
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 75%;
}

.socialicons i {
    font-size: 2em;
    color: #08359B;
    opacity: 8.9;
}

.socialicons a:hover {
    background-color: #d1c7c7;
    transition: 0.5s;
}

.socialicons a:hover i {
    color: black;
    transition: 0.5s;
}

.address {
    text-align: center;
}

@media(max-width: 920px) {
    .navigation {
        display: none;
    }

    .menuicon i {
        display: block;
    }

    .navigationMENU {
        display: block;
    }

    .navigationMENU a {
        display: block;
    }
}

@media (max-width: 692px) {
    .navigationMENU {
        left: 2rem;
        width: unset;
    }
}